@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Original+Surfer&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #494949;
    --card-color: #F1F1F1;
    --content-red: #E61211;
    --btn-background: #EA2127;
    --font-primary: 'Lato', sans-serif;
    --font-secondary: 'Original Surfer', cursive;
  }
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
#root {
    position: relative;
    background-color: var(--primary-color);
    font-family: var(--font-primary);
    color: #fff;
    min-height: 100vh;
}